<mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let Dato of ArrayMateria">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ Dato.Nombre | uppercase }}</mat-card-title>
            </mat-card-header>
            <img src="/API/VIRTUAL/Doc/{{ Dato.Imagen}}" height="150px">
            <hr>
            <mat-card-content>
                <p>
                    Este apartado sera para las tareas que falta hacer
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button color="primary">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>