<h2 class="title-unidad">Nombre de Materia</h2>
<div class="list-Unidad">
    <div class="Box-Unidad">
        <mat-card>
            <mat-card-title>Nombre de la unidad</mat-card-title>
            <hr>
            <mat-card-content>
                <div class="Card-Tarea">
                    
                    <div class="Title-Tarea">
                        <p>Tarea 1</p>
                    </div>
                    <div class="Fecha-Tarea">
                        <p>14/01/2021</p>
                    </div>
                    <!--Maestro-->
                    <!--div class="Tabla-Entregas">
                        <a mat-button color="accent">Lista de Entregas</a>
                    </div-->

                    <!--Alumnos-->
                    <!--Antes de Entregar-->
                    <div class="Estado-Tarea">
                        <p [ngStyle]="{'color':'red'}">No Entregado <mat-icon>clear</mat-icon></p>
                    </div>
                    <!--Despues de entregar de Entregar-->
                    <!--div class="Estado-Tarea">
                        <p>Entregado <mat-icon>done</mat-icon></p>
                    </div-->
                    <!--End-->
                
                </div>

                <div class="Card-Tarea">
                    <div class="Title-Tarea">
                        <p>Tarea 2</p>
                    </div>
                    <div class="Fecha-Tarea">
                        <p>14/01/2021</p>
                    </div>
                    
                    <div class="Tabla-Entregas">
                        <a mat-button color="accent">Lista de Entregas</a>
                    </div>
                    <!--Alumnos-->
                    <!--div class="Estado-Tarea">
                        <p>Entregado <mat-icon>done</mat-icon></p>
                    </div-->
                    <!--End-->
                
                </div>

                <div class="Card-Tarea">
                    <div class="Title-Tarea">
                        <p>Tarea 3</p>
                    </div>
                    <div class="Fecha-Tarea">
                        <p>14/01/2021</p>
                    </div>
                    
                    <div class="Tabla-Entregas">
                        <a mat-button color="accent">Lista de Entregas</a>
                    </div>
                    <!--Alumnos-->
                    <!--div class="Estado-Tarea">
                        <p>Entregado <mat-icon>done</mat-icon></p>
                    </div-->
                    <!--End-->
                
                </div>
                
            </mat-card-content>
        </mat-card>

    </div>

</div>
