<div class="Zona-Grupos">
    <mat-form-field appearance="fill">
        <mat-label>Nombre de Grupo de Aula</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Materia</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Materia</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Materia</mat-card-title>
        </mat-card-header>
    </mat-card>

    <div class="ActionsButtons">
        <mat-card-actions align="start">
            <button mat-button>Atras</button>
        </mat-card-actions>
        <mat-card-actions align="end">
            <button mat-button>Siguiente</button>
        </mat-card-actions>
    </div>
</div>