<div class="Zona-Grupos">
    <mat-form-field appearance="fill">
        <mat-label>Nombre de Grupo de Aula</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="Body-Groups">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materia</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
    
</div>