.Zona-Grupos{
    background-color: white;
    width: 620px;
    height: 320px;
    border-radius: 10px;
    overflow-y: auto;
}

.Zona-Grupos mat-form-field{
    width: 100%;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  

.ActionsButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ActionsButtons mat-card-actions{
    margin: 0 10px;
}
mat-card{
    margin: 10px;
}
mat-card  mat-card-header mat-card-title{
    padding-top: 10px;
}
