<div class="Box-Tarea">
    
    <mat-card>
        <mat-card-title>
            Nombre de la Tarea
        </mat-card-title>

        <hr>

        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio, 
                minus aliquid deleniti nemo sint exercitationem ratione assumenda dolore 
                error soluta laborum qui, commodi sit itaque totam ad quo adipisci.
            </p>

            <div class="box-entrega">
                <div class="Box-Envio">
                    <div id="div_file">
                        <p id="texto">Subir Tarea</p>
                        <input type="file" id="btn_enviar">
                    </div>
                    <div class="btn_entrega">
                        <button mat-button>Entregar</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
