<!--Formulario-->
<form class="forms">
    <div class="form-input">
        <mat-form-field appearance="outline">
            <mat-label>Correo:</mat-label>
            <input matInput placeholder="Correo Electronico">
        </mat-form-field>
    </div>
    <div class="form-input">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña:</mat-label>
          <input matInput placeholder="Contraseña">
        </mat-form-field>
    </div>
    <span>No Tiene una cuenta Hecha -> <a href="/Register">Registarse</a></span>
    <br>
    <button mat-raised-button color="primary" class="btn-login">Ingresar</button>
</form>
<!--End-->
