<mat-grid-list cols="4" rowHeight="400px">
    
    <mat-grid-tile *ngFor="let Datos of GetData">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ Datos.Nombre }}</mat-card-title>
            </mat-card-header>
            <img src="/API/VIRTUAL/Doc/{{Datos.Imagen}}" height="120px" width="150px">
            <hr>
            <mat-card-actions align="end">
                <button mat-button color="primary">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

  </mat-grid-list>