mat-grid-list{
    margin: 0px 20px;
    
}
mat-card{
    border-radius: 20px;
}
mat-card-content{
    background-color: var(--Paleta-Color-5);
    height: 100%;
    border-radius: 5px;
}
mat-card > img{
    width: 100%;
    border-radius: 10px;
}