<form>
    <div class="form-input">
        <mat-form-field appearance="outline">
            <mat-label>Nombre:</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido Primario:</mat-label>
            <input matInput placeholder="Apellido Primario">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido Secundario:</mat-label>
            <input matInput placeholder="Apellido Secundario">
        </mat-form-field>
    </div>
    
    <div class="form-input">
        <mat-form-field appearance="outline">
            <mat-label>Correo:</mat-label>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </div>
    <div class="form-input">
        <mat-form-field appearance="outline">
            <mat-label>Constraseña:</mat-label>
            <input matInput placeholder="Constraseña:">
        </mat-form-field>
    </div>
    <div class="form-input">
        <mat-form-field appearance="outline">
            <mat-label>Confirmar Contraseña:</mat-label>
            <input matInput placeholder="Confirmar Contraseña:">
        </mat-form-field>
    </div>
    <span>Ya estas Registrado -> <a href="Login">Login</a></span>
    <br>
    <button mat-raised-button color="primary" class="btn-form">Aceotar</button>
</form>
