.body-Register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--Paleta-Color-5);
}

.Contenedor-Register{
    background-color: white;
    width: 55%;
    text-align: center;
    border-radius: 10px;
}
.Contenedor-Register h2{
    font-size: 28px;
    margin-top: 10px;
}
.Grupo-Registro{
    margin: 0 130px;
}
@media screen and (max-width:768px) {
    .Contenedor-Register{
        width: 80%;
    }
}
@media screen and (max-width:607px) {
    .Contenedor-Register{
        width: 80%;
    }
}
@media screen and (max-width:545px) {
    .Contenedor-Register{
        width: 80%;
    }
}