<div class="body-Register">
    <div class="Contenedor-Register">
        <h2>REGISTER</h2>
        <mat-tab-group class="Grupo-Registro">
            <mat-tab label="Estudiante"> 
                <!--Formulario-->
                <app-form-estudiante></app-form-estudiante>
                <!--End-->
            </mat-tab>
            <mat-tab label="Maestro"> 
                <!--Formulario-->
                <app-form-maestro></app-form-maestro>
                <!--End-->
            </mat-tab>
            <mat-tab label="Tutor"> 
                <!--Formulario-->
                <app-form-tutor></app-form-tutor>
                <!--End-->
            </mat-tab>
        
        
        
        
        </mat-tab-group>  
    </div>
</div>